.card-detail {
  width: 390px;
  height: 100vh;
  position: relative;
}
.name-id {
  height: 230px;
}
.inline {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  align-items: center;
}
.arrow-left {
    margin-right: 1em;
    margin-left: 1.2em;
    width: 2em;
}
h2 {
  font-size: 28px;
  margin-left: 0;
}
.white {
  color: white;
}
.number {
  font-size: 13px;
  font-weight: 600;
  margin-left: 7em;
}
.pokeball {
  position: absolute;
  opacity: 12%;
  width: 220px;
  right: 0.5em;
  top: 0.4em;
}
.frame {
    position: absolute;
    right: 1.6em;
    top: 12rem;
}
.frameLeft {
    position: absolute;
    width: 28px;
    top: 10.7rem;
    left: 1.7em;
}
.img-pokemon {
  position: absolute;
  width: 220px;
  top: 5em;
  right: 6em;
  z-index: 1;
}
.characteristics {
  background-color: white;
  height: 65vh;
  border-radius: 10px;
  margin: 0.2em;
  padding-top: 4em;
  text-align: center;
}
.type {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

.about {
    margin: 0 2em;
}
span {
  color: white;
  font-weight: 600;
  border-radius: 25px;
  padding: 3.2px 8px 2px 8px;
  font-size: 10px;
  margin: 0 5px;
}
h3 {
    font-size:15px;
    padding: 0.5em;
}
.about {
    display: flex;
    align-items: center;
}
.about-wh {
    display: flex;
}
.about-img {
    padding-right: 0.7em;
}
.info {
    font-size: 12px;
}
.move {
    padding-bottom: 0.2em;
}
hr {
    border: none;
    border-left: 2px solid rgba(216, 211, 211, 0.341);
    height: 8vh;
    width: 1px;
}
h4 {
    font-size: 10px;
    color: gray;
    font-weight: 400;
}
.h4-wh {
    padding-top: 1.2em;
}
.description {
    font-size: 12px;
    text-align: left;
    padding: 2.2em 0 2.2em 2em;
}
.stats {
    padding-bottom: 1em;
}
.each-stat {
    display: flex;
    align-items: center;
}
.color-stats {
  width: 50px;
  text-align: right;
  padding-right: 14px;
  font-size: 14px;
  text-transform: uppercase;
}
.stat-number {
    font-size: 14px;
}
.stat-bar {
  width: 16em;
  height: 12px;
}
.line {
  position: relative;
  transform: translate(-8.2em, -7.7em);
  height: 7.5em;
  background-color: rgba(216, 211, 211, 0.341);
}



